<div class="title">
    <h1>ACME Building "building_name": Real-time entries</h1>
</div>
<ul>
    <table id="mytable">
      <tr>
          <th class="tabletitle">Card ID</th>
          <th class="tabletitle">Panel Location</th>
          <th class="tabletitle">Timestamp</th>
          <th class="tabletitle">Entry Valid</th>
      </tr>
        <tr *ngFor = "let entry of usersEntries">
          <td>{{entry.cardId}}</td>
          <td>{{entry.location.relativeLocation}}</td>
          <td>{{entry.timestamp}}</td>
          <td id="valid">{{entry.accessAllowed}}</td>
        </tr>
    
    </table>
</ul>
