ul{
    margin:0;
    padding:0;
    list-style-type: circle;
}

table {
    // border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}


div.title {
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 100%;
    height: 80px;

}

td.tabletitle {
    font-size: 25px;
    height: 55px;
}

 td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }

   th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6c7ae0;
    color: white;
  }